[user]
	name = Vasco Ramos
	email = vascoalramos@outlook.pt
	username = vascoalramos
	signingkey = 32D6C0EF716D7D28
[core]
        editor = nvim
[color]
        ui = always
[commit]
        gpgsign = true
        template = ~/Projects/dotfiles/git/commit_template
[help]
        # Automatically correct and execute mistyped commands
        autocorrect = 1
[pull]
        rebase = false
[push]
        default = simple
[rerere]
        enabled = true
[init]
	defaultBranch = main
[alias]
	st = status
	ca = commit -a
	aa = add *
	ra = restore --staged *
