[user]
	name = Vasco Ramos
	email = vascoalramos@outlook.pt
	username = vascoalramos
	# if you have gpgsign = true
	signingkey = <GPG_KEY>
[core]
	editor = vim
[color]
	ui = always
[commit]
	# gpgsign = true
	template = ~/Projects/dotfiles/gittemplate
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
[pull]
	rebase = false
[push]
	default = simple
[rerere]
	enabled = true
[init]
        defaultBranch = main
